.product-image-wrapper {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  background-color: #e7e5dd;

  &:hover {
    transform: scale(1.05);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      transition: background 0.3s ease-in-out;
    }

    img {
      transform: scale(1.05);
    }
  }
}

.product__image {
  max-width: 90%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
a {
  text-decoration: none;
}

.product {
  margin: 100px;

  &__info {
    text-align: none;
    color: black;
  }

  &__container {
    &__list {
      background-color: #e8e3d5;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

h1 {
  background-color: #e8e3d5;
}
.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8e3d5;

  &.selected {
    background-color: #adafad;
    color: #333;
    border-color: #aaa;

    &:hover {
      background-color: #adafad;
    }
  }

  button {
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #cccccc;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #adafad;
      color: #555555;
      border-color: #bbbbbb;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
